<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/brand-story.css}">
</head>
<body>

   <header th:replace="fragments/header :: my-header"></header>

   <div class="body-container">

      <div class="top-banner">
          <ul class="top-ul">
             <li class="top-li"> <a href="#">about ma:nyo 브랜드스토리</a></li>
             <li>|</li>
             <li class="top-li"> <a href="#">of ma:nyo 성분철학</a></li>
             <li>|</li>
             <li class="top-li"> <a href="#"> with ma:nyo 사회공헌</a></li>
          </ul>
      </div>

      <div class="box1">
          <div class="box1-img">
               <img th:src="@{/assets/img/brand-story-img/box2-title.png}" alt="box2-title" class="box1-img">
               <h3>피부고민,원하는 대로.스킨 위저드 마녀공장</h3>
          </div>
      </div>

      <div class="box2">
          <div class="inner-basic">
                <div class="about-story">
                       <h3>brand story</h3>
                       <p>
                         당신이 원하는 대로 마법 같은 피부 변화를 만드는 곳
                        <br>
                        이곳은 피부에 진심인 위저드들의 마녀공장입니다
                       </p>
                </div>

                <div class="about-story-content">
                    <div>|</div>
                    <strong>
                        타협하지 않는 까다로운 성분 원칙과 섬세한 차이가 주는 확실한 효과
                    </strong>
                    <p>
                        바로 이 순간 나를 위해 준비한 듯한 놀라운 제품을 만나는 경이로움,<br>
                        한 사람 한 사람을 위한 마녀공장의 진심을 담아 당신이 꿈꿔왔던 아름다움을 이루어 드릴게요

                    </p>
                </div>
          </div>
      </div>

      <div class="box3">
          <div class="box3-title">
             <h3>promise</h3>
             <span>|</span>
             <h3>01</h3>
          </div>
          <h2><strong>우리는 당신이 원하는 </strong></h2>
          <h2><strong>피부를 실현하는 스킨 위저드입니다.</strong></h2>
           <span>we are skin wizards</span>
      </div>

      <div class="box4">
         <div class="padding-left">
            <img th:src="@{/assets/img/brand-story-img/box4-padding-left.jpg}" alt="box3-left">
         </div>
         <div class="padding-right">
            <img th:src="@{/assets/img/brand-story-img/box3-padding-right.jpg}" alt="box4-right">
         </div>
      </div>

      <div class="box5">
           <div class="box5-con">
             <b>마녀공장의 모든 것에는 고객이 원하는 피부를
            <br>
            실현하기 위한 피부를 향한 진심이 담겨 있습니다
           </b>

           <p>
            마녀공장만의 풍부한 인사이트를 통해 안전하고 효과적인 맞춤 솔루션을
            <br>
             제안하여 고객이 원하는 이상적인 피부를 실현하는데 온 노력을 기울입니다
            <br>
            우리는 고객들의 각각의 라이프 스타일과 피부 고민에 꼭 맞는 베네핏을 제안하고 눈에 보이는
            <br>
              효과를 줄 수 있는 검증된 원료를 선택한 후 그 효능을 최적화하는 성분 프로포션을 조율합니다
            <br>
            계절,피부 타입,텍스처의 감도,사용상의 효용성을 따져 디테일한 처방 개선을 통한 제품을 선보입니다.
           </p>
           </div>
      </div>

      <div class="box6">
         <div class="box6-top">
             <div class="box6-title">
             <h3>promise</h3>
             <span>|</span>
             <h3>02</h3>
            </div>

           <h2><strong>우리는 경이로움을 만듭니다 </strong></h2>

           <span>we do wonders</span>
         </div>

         <div class="about-img">
            <div class="padding-left">
            <img th:src="@{/assets/img/brand-story-img/shutterstock-2133253693-copy.jpg}" alt="box6-left">
           </div>
          <div class="padding-right">
            <img th:src="@{/assets/img/brand-story-img/color-balance-1.jpg}" alt="box6-right">
          </div>
         </div>

         <div class="box6-body">
              <div class="box6-title">
             <h3>wonder01</h3>
             <span>|</span>
             <h3>성분</h3>
            </div>

           <h2><strong>마녀공장은 섬세한 차이가 경이로움을 만들어낸다는 믿음으로</strong></h2>

           <h2><strong>제품 하나 하나에 마녀공장만의 까다로운 성분 원칙을 적용합니다</strong></h2>

           <p>
             마녀공장의 탄생부터 지금까지 그리고 앞으로도 좋은 성분에 대한 원칙은 변하지 않습니다<br>

             논란이 되는 유해 성분을 제품에 넣지 않으며 자극은 줄이되 효능은 극대화하는<br>
            대체 성분을 찾는 노력을 기울이고 있습니다<br>
             이러한 엄격한 원칙으로 만든 마녀공장 제품은<br>
             당신의 피부에 편안함과 경이로운 변화를 동시에 선사합니다
           </p>
         </div>
      </div>

      <div class="box7">

      </div>

       <div class="box8">
          <div class="box8-header">
             <div class="box8-title">
             <h3>wonder02</h3>
             <span>|</span>
             <h3>친환경</h3>
            </div>

           <h2><strong>마녀공장은 자연과 지구의 부담을 줄이고 </strong></h2>

           <h2><strong>오래도록 함계 하기 위한 방법을 연구합니다</strong></h2>

           <p>
            전 제품의 테이프-리스 포장재 유통을 실시하고 있으며,친환경 제지와 <br>
           플라스틱 배출을 줄인 용기,제거하기 쉬운 라벨, 분리배출이 쉽고 가능한 패키징 등<br>
              지구를 생각한 eco-packing시스템을 적극적으로 실시합니다
             <br>
             이러한 노력들은 우리를 살아갈 수 있게 하는<br>
            자연과 지구에 경의를 표하는 마녀공장의 마음입니다
           </p>
          </div>

          <div class="box8-img">
            <img th:src="@{/assets/img/brand-story-img/promise02.png}" alt="promise">
          </div>

          <div class="box8-body">
              <div class="box8-title">
             <h3>wonder03</h3>
             <span>|</span>
             <h3>일상</h3>
            </div>

           <h2><strong>마녀공장은 매일의 일상 속에서 기분 좋은</strong></h2>

           <h2><strong>놀라움을 드리기 위해 노력합니다</strong></h2>

           <p>
            전 제품의 테이프-리스 포장재 유통을 실시하고 있으며,친환경 제지와 <br>
           플라스틱 배출을 줄인 용기,제거하기 쉬운 라벨, 분리배출이 쉽고 가능한 패키징 등<br>
              지구를 생각한 eco-packing시스템을 적극적으로 실시합니다
             <br>
             이러한 노력들은 우리를 살아갈 수 있게 하는<br>
            자연과 지구에 경의를 표하는 마녀공장의 마음입니다
           </p>
          </div>
      </div>

       <div class="box9">

          <div class="box9-top">
             <div class="box9-title">
             <h3>promise</h3>
             <span>|</span>
             <h3>03</h3>
            </div>

           <h2><strong>작은 실천이 우리의 세상에</strong></h2>
            <h2><strong> 가져올 기적을 믿습니다</strong></h2>

           <span>we believe in miracles for the world</span>
         </div>

         <div class="box9-inner">
             <div class="box9-img">
              <img th:src="@{/assets/img/brand-story-img/box9-img.png}" alt="box9-img">
            </div>

            <div class="box9-body">
                  <b>마녀공장은 작은 실천이 쌓여 큰 기적을 일으킨다고 믿기에
                    <br>우리의 주위를 세심하게 살피고 적극적으로 실천하겠습니다
                  </b>
                  <p>
                    이웃,취약계층,동물,사회,자연,지구..<br>
                    우리를 둘러싼 세상의 아름다운 가치를 존중하고 배려하며<br>
                    미처 시선이 닿지 못한 곳은 없는지 매달 적극적으로 주위를 살피며 마음을 쏟겠습니다<br>
                    우리늰 마녀공장과 함께 하는 당신의 삶이 보다 가치 있다고 느끼길 바랍니다<br><br>
                    우리가 살아가는 이 세상이 매일 조금씩 더 아름다워 질 수 있더록<br>
                    정직한 걸음을 멈추지 않겠습니다
                  </p>
            </div>
         </div>

       </div>

       <div class="box10">
            <img th:src="@{/assets/img/brand-story-img/footer_logo (1).png}" alt="footer-logo">
       </div>


   </div>

      <div th:replace="~{fragments/footer :: my-footer}"/>

      <script th:src="@{/assets/js/logout.js}"></script>
</body>
</html>